<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msa.console.dao.ServiceApplyDao">

	<insert id="insServiceApply" parameterType="com.msa.console.model.ServiceModel">
		INSERT INTO con.concpservicem(
				tenant_id,
				cp_cd,
				service_cd, 
				service_start_dt, 
				service_end_dt, 
				service_url_addr, 
				rep_color_value,
				fst_lang_cd, 
				scnd_lang_cd, 
				thrd_lang_cd, 
				foth_lang_cd, 
				fith_lang_cd,
				test_lab_use_yn, 
				test_lab_remark_desc, 
				test_event_add_yn,
				test_event_remark_desc, 
				crt_id, 
				crt_ip, 
				ad_date, 
				udt_id, 
				udt_ip,
				udt_date)
		VALUES (#{tenantId},
				#{cpCd}, 
				#{serviceCd}, 
				#{serviceStartDt}, 
				#{serviceEndDt},
				#{serviceUrlAddr}, 
				#{repColorValue}, 
				#{fstLangCd}, 
				#{scndLangCd}, 
				#{thrdLangCd},
		 		#{fothLangCd}, 
		 		#{fithLangCd}, 
		 		#{testLabUseYn}, 
		 		#{testLabRemarkDesc},
		 		#{testEventAddYn}, 
		 		#{testEventRemarkDesc}, 
		 		#{crtId},
		 		#{crtIp},
		 		current_timestamp, 
				#{udtId},
				#{udtIp},
				current_timestamp)
	</insert>

	<insert id="insServiceApplyDetail" parameterType="com.msa.console.model.ServiceDetailModel">
		INSERT INTO con.concpserviced(
				tenant_id,
				cp_cd, 
				service_cd, 
				system_cd, 
				service_start_dt, 
				service_end_dt, 
				service_url_addr, 
				crt_id,
				crt_ip, 
				ad_date, 
				udt_id, 
				udt_ip, 
				udt_date)
		VALUES (#{tenantId},
				#{cpCd}, 
				#{serviceCd}, 
				#{systemCd}, 
				#{serviceStartDt}, 
				#{serviceEndDt}, 
				#{serviceUrlAddr}, 
				#{crtId},
		 		#{crtIp},
		 		current_timestamp, 
				#{udtId},
				#{udtIp},
				current_timestamp)
	</insert>

	<select id="selListServiceApply" parameterType="com.msa.console.model.ServiceModel" resultType="com.msa.console.model.ServiceExtModel">
		SELECT  COUNT(1) OVER() AS totalCount,
				servicem.tenant_id AS tenantId, 
				servicem.cp_cd AS cpCd, 
		        servicem.service_cd AS serviceCd, 
		        servicem.ad_date AS adDate,
		        cpm.cp_nm AS cpNm,
		        cpm.cp_start_dt AS cpStartDt,
		        cpm.cp_end_dt AS cpEndDt
		FROM (SELECT tenant_id,
	            cp_cd,
	            STRING_AGG(service_cd,',') as service_cd, 
	            max(ad_date) as ad_date
	            FROM con.concpservicem
	            group by tenant_id, cp_cd	) AS servicem 
	    	 INNER JOIN 
	    	 con.concpm AS cpm
	    ON servicem.tenant_id = cpm.tenant_id 
	    	AND servicem.cp_cd = cpm.cp_cd
		ORDER BY cpm.tenant_id desc
		LIMIT #{rowPerPage} OFFSET #{skipCount}

	</select>

	<select id="selServiceApply" parameterType="com.msa.console.model.ServiceModel" resultType="com.msa.console.model.ServiceExtModel">
		SELECT tenant_id AS tenantId, 
		    cp_cd AS cpCd, 
		    service_cd AS serviceCd,
		    service_start_dt AS serviceStartDt, 
		    service_end_dt AS serviceEndDt, 
		    service_url_addr AS serviceUrlAddr, 
		    rep_color_value AS repColorValue, 
            fst_lang_cd AS fstLangCd,
            scnd_lang_cd AS scndLangCd,
            thrd_lang_cd AS thrdLangCd,
            foth_lang_cd AS fothLangCd,
            fith_lang_cd AS fithLangCd,
		    test_lab_use_yn AS testLabUseYn, 
		    test_lab_remark_desc AS testLabRemarkDesc, 
		    test_event_add_yn AS testEventAddYn, 
		    test_event_remark_desc AS testEventRemarkDesc
		FROM con.concpservicem servicem
		WHERE servicem.tenant_id = #{tenantId} 
			AND servicem.cp_cd = #{cpCd}
		<!-- SELECT tenant_id AS tenantId, 
		    cp_cd AS cpCd, 
		    service_cd AS serviceCd,
		    servicecd.cd_nm AS serviceNm,
		    service_start_dt AS serviceStartDt, 
		    service_end_dt AS serviceEndDt, 
		    service_url_addr AS serviceUrlAddr, 
		    rep_color_value AS repColorValue, 
		    coalesce((select cd_nm from con.concdd where cd_group_id='LANG_CD' and cd_id=fst_lang_cd),'') AS fstLangNm,
		    coalesce((select cd_nm from con.concdd where cd_group_id='LANG_CD' and cd_id=scnd_lang_cd),'') AS scndLangNm,
		    coalesce((select cd_nm from con.concdd where cd_group_id='LANG_CD' and cd_id=thrd_lang_cd),'') AS thrdLangNm,
		    coalesce((select cd_nm from con.concdd where cd_group_id='LANG_CD' and cd_id=foth_lang_cd),'') AS fothLangNm,
		    coalesce((select cd_nm from con.concdd where cd_group_id='LANG_CD' and cd_id=fith_lang_cd),'') AS fithLangNm,
		    test_lab_use_yn AS testLabUseYn, 
		    test_lab_remark_desc AS testLabRemarkDesc, 
		    test_event_add_yn AS testEventAddYn, 
		    test_event_remark_desc AS testEventRemarkDesc
		FROM con.concpservicem AS servicem
		INNER JOIN con.concdd AS servicecd
		ON servicem.service_cd = servicecd.cd_id AND servicecd.cd_group_id='SERVICE_CD'
		WHERE servicem.tenant_id = #{tenantId} AND servicem.cp_cd = #{cpCd} -->
	</select>
	
	
	<select id="selServiceApplyDetail" parameterType="com.msa.console.model.ServiceModel" resultType="com.msa.console.model.ServiceDetailModel">
 	SELECT tenant_id AS tenantId, 
	    cp_cd AS cpCd, 
	    service_cd AS serviceCd,
	    system_cd AS systemCd,
	    cdd.cd_nm AS systemNm,
	    service_start_dt AS serviceStartDt, 
	    service_end_dt AS serviceEndDt, 
	    service_url_addr AS serviceUrlAddr
	FROM con.concpserviced serviced
    	LEFT OUTER JOIN con.concdd cdd
   	 	ON serviced.system_cd = cdd.cd_id AND cdd.cd_group_id = serviced.service_cd ||'_SYSTEM_CD'
	WHERE serviced.tenant_id = #{tenantId} 
		AND serviced.cp_cd = #{cpCd}
	</select>
	
	<delete id="delServiceApply" parameterType="com.msa.console.model.ServiceModel">
	DELETE FROM con.concpservicem
	WHERE tenant_id = #{tenantId} 
		AND cp_cd = #{cpCd}
		AND service_cd = #{serviceCd}
	</delete>
	
	<delete id="delServiceApplyDetail" parameterType="com.msa.console.model.ServiceDetailModel">
	DELETE FROM con.concpserviced
	WHERE tenant_id = #{tenantId} 
		AND cp_cd = #{cpCd}
		AND service_cd = #{serviceCd}
		AND system_cd = #{systemCd}
	</delete>

</mapper>